[project]
	description = Ceph is a distributed object, block, and file storage platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adir lev (Adirl)
[access "refs/for/refs/*"]
	read = group user/Adir lev (Adirl)
	push = group user/Adir lev (Adirl)
	label-Code-Review = -2..+2 group user/Adir lev (Adirl)
	label-Verified = -1..+1 group user/Adir lev (Adirl)
	rebase = group user/Adir lev (Adirl)
	removeReviewer = group user/Adir lev (Adirl)
	submit = group user/Adir lev (Adirl)
[access "refs/heads/*"]
	read = group user/Adir lev (Adirl)
	create = group user/Adir lev (Adirl)
	push = +force group user/Adir lev (Adirl)
	pushMerge = group user/Adir lev (Adirl)
[access "refs/tags/*"]
	push = +force group user/Adir lev (Adirl)
	createTag = group user/Adir lev (Adirl)
	createSignedTag = group user/Adir lev (Adirl)
